
<%- include("partials/header"); -%>





<form class="" action="/" method="post">
  <div class="home-body">
    <h1 class="hometext">Hi.....To add your Information Please click Here</h1>
  <button type="submit"  class="btn btn-secondary btn-lg homebtn">Click Me</button>
  </div>
</form>




<%- include("partials/footer"); -%>
